################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Mirante/.vs/Mirante/config
/.vs/Mirante/v17
/Mirante/.vs/Mirante/CopilotIndices/17.13.444.19527
/Mirante/.vs/Mirante
